* text=auto !eol
/COPYRIGHT -text
apps/Makefile -text
apps/adt_ps/ADT1 -text
apps/adt_ps/MLMessenger.cpp -text
apps/adt_ps/MLMessenger.hpp -text
apps/adt_ps/Makefile -text
apps/adt_ps/ORM2 -text
apps/adt_ps/adt_ps.cpp -text
apps/adt_ps/msgRules.v22 -text
apps/adt_ps/segDefs.v22 -text
apps/cecho/Makefile -text
apps/cecho/cecho.cpp -text
apps/cfind/MLQuery.cpp -text
apps/cfind/MLQuery.hpp -text
apps/cfind/Makefile -text
apps/cfind/broad_query.txt -text
apps/cfind/cfind.cpp -text
apps/cfind/cfind_support.cpp -text
apps/cfind/q1.txt -text
apps/cfind/q2.txt -text
apps/cfind/q3.txt -text
apps/cfind_evaluate/MLCFindEval.cpp -text
apps/cfind_evaluate/MLCFindEval.hpp -text
apps/cfind_evaluate/MLEvalImageAvail.cpp -text
apps/cfind_evaluate/MLEvalImageAvail.hpp -text
apps/cfind_evaluate/MLEvalMWL.cpp -text
apps/cfind_evaluate/MLEvalMWL.hpp -text
apps/cfind_evaluate/MLEvalStudy.cpp -text
apps/cfind_evaluate/MLEvalStudy.hpp -text
apps/cfind_evaluate/Makefile -text
apps/cfind_evaluate/cfind_evaluate.cpp -text
apps/cfind_gpsps_evaluate/Makefile -text
apps/cfind_gpsps_evaluate/cfind_gpsps_evaluate.cpp -text
apps/cfind_image_avail/MLQuery.cpp -text
apps/cfind_image_avail/MLQuery.hpp -text
apps/cfind_image_avail/Makefile -text
apps/cfind_image_avail/cfind_image_avail.cpp -text
apps/cfind_mwl_evaluate/Makefile -text
apps/cfind_mwl_evaluate/cfind_mwl_evaluate.cpp -text
apps/cfind_resp_evaluate/Makefile -text
apps/cfind_resp_evaluate/cfind_resp_evaluate.cpp -text
apps/cfind_study_probe/MLQuery.cpp -text
apps/cfind_study_probe/MLQuery.hpp -text
apps/cfind_study_probe/Makefile -text
apps/cfind_study_probe/cfind_study_probe.cpp -text
apps/cmove/MLMove.cpp -text
apps/cmove/MLMove.hpp -text
apps/cmove/Makefile -text
apps/cmove/cmove.cpp -text
apps/cmove_study/MLMove.cpp -text
apps/cmove_study/MLMove.hpp -text
apps/cmove_study/MLQuery.cpp -text
apps/cmove_study/MLQuery.hpp -text
apps/cmove_study/Makefile -text
apps/cmove_study/cmove_study.cpp -text
apps/compare_dcm/Makefile -text
apps/compare_dcm/compare.ini -text
apps/compare_dcm/compare_dcm.cpp -text
apps/compare_hl7/Makefile -text
apps/compare_hl7/compare_hl7.cpp -text
apps/cp_hl7ps/MLMessenger.cpp -text
apps/cp_hl7ps/MLMessenger.hpp -text
apps/cp_hl7ps/Makefile -text
apps/cp_hl7ps/cp_hl7ps.cpp -text
apps/cstore/MLCStore.cpp -text
apps/cstore/MLCStore.hpp -text
apps/cstore/Makefile -text
apps/cstore/cstore.cpp -text
apps/cstore/cstore_support.cpp -text
apps/dcm_get_elements/Makefile -text
apps/dcm_get_elements/dcm_get_elements.cpp -text
apps/dcm_get_elements/dcm_get_elements.hpp -text
apps/dcm_print_element/Makefile -text
apps/dcm_print_element/dcm_print_element.cpp -text
apps/dcm_ref_sop_seq/Makefile -text
apps/dcm_ref_sop_seq/dcm_ref_sop_seq.cpp -text
apps/ds_dcm/MLGPPPS.cpp -text
apps/ds_dcm/MLGPPPS.hpp -text
apps/ds_dcm/MLMPPS.cpp -text
apps/ds_dcm/MLMPPS.hpp -text
apps/ds_dcm/MLMove.cpp -text
apps/ds_dcm/MLMove.hpp -text
apps/ds_dcm/MLQuery.cpp -text
apps/ds_dcm/MLQuery.hpp -text
apps/ds_dcm/MLStorage.cpp -text
apps/ds_dcm/MLStorage.hpp -text
apps/ds_dcm/MLStorageCommitment.cpp -text
apps/ds_dcm/MLStorageCommitment.hpp -text
apps/ds_dcm/MLStorageCommitmentSCU.cpp -text
apps/ds_dcm/MLStorageCommitmentSCU.hpp -text
apps/ds_dcm/Makefile -text
apps/ds_dcm/ds_dcm.cpp -text
apps/ds_dcm/im_dcmps.h -text
apps/ds_dcm/sscond.cpp -text
apps/evaluate_gppps/Makefile -text
apps/evaluate_gppps/evaluate_gppps.cpp -text
apps/evaluate_storage_commit/Makefile -text
apps/evaluate_storage_commit/evaluate_storage_commitment.cpp -text
apps/export_agent/MLQuery.cpp -text
apps/export_agent/MLQuery.hpp -text
apps/export_agent/MLXferAgent.cpp -text
apps/export_agent/MLXferAgent.hpp -text
apps/export_agent/Makefile -text
apps/export_agent/export_agent.cpp -text
apps/hl7_evaluate/Makefile -text
apps/hl7_evaluate/a04.txt -text
apps/hl7_evaluate/hl7_evaluate.cpp -text
apps/hl7_evaluate/hl7_v.ini -text
apps/hl7_get_value/Makefile -text
apps/hl7_get_value/hl7_get_value.cpp -text
apps/hl7_msg_server/MHL7IDXFactory.cpp -text
apps/hl7_msg_server/MHL7IDXFactory.hpp -text
apps/hl7_msg_server/MMessageCollector.cpp -text
apps/hl7_msg_server/MMessageCollector.hpp -text
apps/hl7_msg_server/Makefile -text
apps/hl7_msg_server/hl7_msg_server.cpp -text
apps/hl7_rcvr/MLDispatchChargeProcessor.cpp -text
apps/hl7_rcvr/MLDispatchChargeProcessor.hpp -text
apps/hl7_rcvr/MLDispatchImgMgr.cpp -text
apps/hl7_rcvr/MLDispatchImgMgr.hpp -text
apps/hl7_rcvr/MLDispatchImgMgrJapanese.cpp -text
apps/hl7_rcvr/MLDispatchImgMgrJapanese.hpp -text
apps/hl7_rcvr/MLDispatchOrderFiller.cpp -text
apps/hl7_rcvr/MLDispatchOrderFiller.hpp -text
apps/hl7_rcvr/MLDispatchOrderFillerJapanese.cpp -text
apps/hl7_rcvr/MLDispatchOrderFillerJapanese.hpp -text
apps/hl7_rcvr/MLDispatchOrderPlacer.cpp -text
apps/hl7_rcvr/MLDispatchOrderPlacer.hpp -text
apps/hl7_rcvr/MLDispatchOrderPlacerJapanese.cpp -text
apps/hl7_rcvr/MLDispatchOrderPlacerJapanese.hpp -text
apps/hl7_rcvr/MLDispatchPDSupplier.cpp -text
apps/hl7_rcvr/MLDispatchPDSupplier.hpp -text
apps/hl7_rcvr/MLDispatchReportMgr.cpp -text
apps/hl7_rcvr/MLDispatchReportMgr.hpp -text
apps/hl7_rcvr/MLDispatchReportMgrJapanese.cpp -text
apps/hl7_rcvr/MLDispatchReportMgrJapanese.hpp -text
apps/hl7_rcvr/MLDispatchXRefMgr.cpp -text
apps/hl7_rcvr/MLDispatchXRefMgr.hpp -text
apps/hl7_rcvr/Makefile -text
apps/hl7_rcvr/hl7_rcvr.cpp -text
apps/hl7_set_value/Makefile -text
apps/hl7_set_value/hl7_set_value.cpp -text
apps/hl7_to_txt/Makefile -text
apps/hl7_to_txt/hl7_to_txt.cpp -text
apps/ihe_audit_message/Makefile -text
apps/ihe_audit_message/configuration.txt -text
apps/ihe_audit_message/dicom_query.txt -text
apps/ihe_audit_message/ihe_audit_message.cpp -text
apps/ihe_audit_message/instances_sent.txt -text
apps/ihe_audit_message/instances_stored.txt -text
apps/ihe_audit_message/instances_used.txt -text
apps/ihe_audit_message/mwl_provided.txt -text
apps/ihe_audit_message/patient_modify.txt -text
apps/ihe_audit_message/procedure_record.txt -text
apps/ihe_audit_message/send_instances.txt -text
apps/ihe_audit_message/startup.txt -text
apps/ihe_audit_message/storing_instances.txt -text
apps/ihe_audit_message/user_auth.txt -text
apps/im_dcmagent/Makefile -text
apps/im_dcmagent/im_sc_agent.cpp -text
apps/im_dcmagent/im_sc_check.cpp -text
apps/im_dcmagent/im_sc_filldb.cpp -text
apps/im_dcmps/MLMPPS.cpp -text
apps/im_dcmps/MLMPPS.hpp -text
apps/im_dcmps/MLMove.cpp -text
apps/im_dcmps/MLMove.hpp -text
apps/im_dcmps/MLQuery.cpp -text
apps/im_dcmps/MLQuery.hpp -text
apps/im_dcmps/MLStorage.cpp -text
apps/im_dcmps/MLStorage.hpp -text
apps/im_dcmps/MLStorageCommitment.cpp -text
apps/im_dcmps/MLStorageCommitment.hpp -text
apps/im_dcmps/Makefile -text
apps/im_dcmps/im_dcmps.cpp -text
apps/im_dcmps/im_dcmps.h -text
apps/im_dcmps/sscond.cpp -text
apps/im_hl7ps/MAMessenger.cpp -text
apps/im_hl7ps/MAMessenger.hpp -text
apps/im_hl7ps/MLMessenger.cpp -text
apps/im_hl7ps/MLMessenger.hpp -text
apps/im_hl7ps/Makefile -text
apps/im_hl7ps/im_hl7ps.cpp -text
apps/kill_hl7/MLMessenger.cpp -text
apps/kill_hl7/MLMessenger.hpp -text
apps/kill_hl7/Makefile -text
apps/kill_hl7/kill_hl7.cpp -text
apps/mesa_audit_eval/Makefile -text
apps/mesa_audit_eval/mesa_audit_eval.cpp -text
apps/mesa_charset_xlate/Makefile -text
apps/mesa_charset_xlate/mesa_charset_xlate.cpp -text
apps/mesa_composite_eval/Makefile -text
apps/mesa_composite_eval/mesa_composite_eval.cpp -text
apps/mesa_convert/Makefile -text
apps/mesa_convert/mesa_convert.cpp -text
apps/mesa_convert/xx.txt -text
apps/mesa_db_test/Makefile -text
apps/mesa_db_test/mesa_db_test.cpp -text
apps/mesa_dictionary/Makefile -text
apps/mesa_dictionary/mesa_dictionary.cpp -text
apps/mesa_dictionary/mesa_dictionary.hpp -text
apps/mesa_dump_dicomdir/Makefile -text
apps/mesa_dump_dicomdir/mesa_dump_dicomdir.cpp -text
apps/mesa_dump_obj/Makefile -text
apps/mesa_dump_obj/mesa_dump_obj.cpp -text
apps/mesa_extract_nm_frames/LNMFrame.cpp -text
apps/mesa_extract_nm_frames/LNMFrame.hpp -text
apps/mesa_extract_nm_frames/LNMFrameDynamic.cpp -text
apps/mesa_extract_nm_frames/LNMFrameDynamic.hpp -text
apps/mesa_extract_nm_frames/LNMFrameGated.cpp -text
apps/mesa_extract_nm_frames/LNMFrameGated.hpp -text
apps/mesa_extract_nm_frames/LNMFrameGatedTomo.cpp -text
apps/mesa_extract_nm_frames/LNMFrameGatedTomo.hpp -text
apps/mesa_extract_nm_frames/LNMFrameReconGatedTomo.cpp -text
apps/mesa_extract_nm_frames/LNMFrameReconGatedTomo.hpp -text
apps/mesa_extract_nm_frames/LNMFrameReconTomo.cpp -text
apps/mesa_extract_nm_frames/LNMFrameReconTomo.hpp -text
apps/mesa_extract_nm_frames/LNMFrameStatic.cpp -text
apps/mesa_extract_nm_frames/LNMFrameStatic.hpp -text
apps/mesa_extract_nm_frames/LNMFrameTomo.cpp -text
apps/mesa_extract_nm_frames/LNMFrameTomo.hpp -text
apps/mesa_extract_nm_frames/LNMFrameWholeBody.cpp -text
apps/mesa_extract_nm_frames/LNMFrameWholeBody.hpp -text
apps/mesa_extract_nm_frames/Makefile -text
apps/mesa_extract_nm_frames/mesa_extract_nm_frames.cpp -text
apps/mesa_identifier/Makefile -text
apps/mesa_identifier/mesa_identifier.cpp -text
apps/mesa_image_pattern/Makefile -text
apps/mesa_image_pattern/mesa_image_pattern.cpp -text
apps/mesa_load_db/Makefile -text
apps/mesa_load_db/codes_of.txt -text
apps/mesa_load_db/demog.txt -text
apps/mesa_load_db/mesa_load_db.cpp -text
apps/mesa_mwl_add_sps/Makefile -text
apps/mesa_mwl_add_sps/mesa_mwl_add_sps.cpp -text
apps/mesa_mwl_sps_from_mpps/Makefile -text
apps/mesa_mwl_sps_from_mpps/mesa_mwl_sps_from_mpps.cpp -text
apps/mesa_pdi_eval/Makefile -text
apps/mesa_pdi_eval/mesa_pdi_eval.cpp -text
apps/mesa_schedule_mwl/Makefile -text
apps/mesa_schedule_mwl/mesa_schedule_mwl.cpp -text
apps/mesa_select_column/Makefile -text
apps/mesa_select_column/mesa_select_column.cpp -text
apps/mesa_sr_eval/Makefile -text
apps/mesa_sr_eval/mesa_sr_eval.cpp -text
apps/mesa_sr_eval/sr_511_req.txt -text
apps/mesa_sr_eval/sr_601cr.txt -text
apps/mesa_sr_eval/sr_601cr_x.txt -text
apps/mesa_storage/MLMPPS.cpp -text
apps/mesa_storage/MLMPPS.hpp -text
apps/mesa_storage/MLStorage.cpp -text
apps/mesa_storage/MLStorage.hpp -text
apps/mesa_storage/MLStorageCommitment.cpp -text
apps/mesa_storage/MLStorageCommitment.hpp -text
apps/mesa_storage/Makefile -text
apps/mesa_storage/im_dcmps.h -text
apps/mesa_storage/mesa_storage.cfg -text
apps/mesa_storage/mesa_storage.cpp -text
apps/mesa_storage/sscond.cpp -text
apps/mesa_strip_file/Makefile -text
apps/mesa_strip_file/mesa_strip_file.cpp -text
apps/mesa_update_column/Makefile -text
apps/mesa_update_column/mesa_update_column.cpp -text
apps/mesa_xml_eval/DOMTreeErrorReporter.cpp -text
apps/mesa_xml_eval/DOMTreeErrorReporter.hpp -text
apps/mesa_xml_eval/Makefile -text
apps/mesa_xml_eval/mesa_xml_eval.cpp -text
apps/mod_dcmps/MLStorageCommitment.cpp -text
apps/mod_dcmps/MLStorageCommitment.hpp -text
apps/mod_dcmps/Makefile -text
apps/mod_dcmps/mod_dcmps.cpp -text
apps/mod_dcmps/mod_dcmps.h -text
apps/mod_dcmps/sscond.cpp -text
apps/mod_generatestudy/MLNCreate.cpp -text
apps/mod_generatestudy/MLNCreate.hpp -text
apps/mod_generatestudy/MLNSet.cpp -text
apps/mod_generatestudy/MLNSet.hpp -text
apps/mod_generatestudy/Makefile -text
apps/mod_generatestudy/mod_generatestudy.cpp -text
apps/mod_generatestudy/ncreate.tpl -text
apps/mod_generatestudy/nset.tpl -text
apps/mod_generatestudy/weld.cpp -text
apps/mod_generatestudy/weld.hpp -text
apps/mod_newuids/Makefile -text
apps/mod_newuids/mod_newuids.cpp -text
apps/mod_weld_mwl/Makefile -text
apps/mod_weld_mwl/SPSID1.txt -text
apps/mod_weld_mwl/mod_weld_mwl.cpp -text
apps/mpps_add_perf_series/Makefile -text
apps/mpps_add_perf_series/mpps_add_perf_series.cpp -text
apps/mpps_add_perf_series/pps.txt -text
apps/mpps_construct/Makefile -text
apps/mpps_construct/mpps_construct.cpp -text
apps/mpps_construct/pps.txt -text
apps/mpps_construct/ssas.txt -text
apps/mpps_construct/x2.txt -text
apps/mpps_evaluate/MLEvalGroup3.cpp -text
apps/mpps_evaluate/MLEvalGroup3.hpp -text
apps/mpps_evaluate/MLEvalSimple1.cpp -text
apps/mpps_evaluate/MLEvalSimple1.hpp -text
apps/mpps_evaluate/MLEvalUnscheduled2.cpp -text
apps/mpps_evaluate/MLEvalUnscheduled2.hpp -text
apps/mpps_evaluate/MLMPPSEvaluator.cpp -text
apps/mpps_evaluate/MLMPPSEvaluator.hpp -text
apps/mpps_evaluate/Makefile -text
apps/mpps_evaluate/mpps_evaluate.cpp -text
apps/mpps_merge/Makefile -text
apps/mpps_merge/mpps_merge.cpp -text
apps/mpps_ncreate/MLNCreate.cpp -text
apps/mpps_ncreate/MLNCreate.hpp -text
apps/mpps_ncreate/Makefile -text
apps/mpps_ncreate/mpps_ncreate.cpp -text
apps/mwlquery/MLQuery.cpp -text
apps/mwlquery/MLQuery.hpp -text
apps/mwlquery/Makefile -text
apps/mwlquery/broad_query.txt -text
apps/mwlquery/mwlquery.cpp -text
apps/mwlquery/mwlquery_support.cpp -text
apps/mwlquery/q1.txt -text
apps/mwlquery/q2.txt -text
apps/mwlquery/q3.txt -text
apps/mwlquery/q4.txt -text
apps/mwlquery/q5.txt -text
apps/mwlquery/q6.txt -text
apps/mwlquery/q7.txt -text
apps/mwlquery/q8.txt -text
apps/mwlquery/q9.txt -text
apps/naction/MLNAction.cpp -text
apps/naction/MLNAction.hpp -text
apps/naction/Makefile -text
apps/naction/naction.cpp -text
apps/naction/naction_support.cpp -text
apps/naction/sc.txt -text
apps/ncreate/MLNCreate.cpp -text
apps/ncreate/MLNCreate.hpp -text
apps/ncreate/Makefile -text
apps/ncreate/ncreate.cpp -text
apps/ncreate/ncreate.txt -text
apps/ncreate/ncreate_support.cpp -text
apps/nevent/MLNEventReport.cpp -text
apps/nevent/MLNEventReport.hpp -text
apps/nevent/Makefile -text
apps/nevent/nevent.cpp -text
apps/nset/MLNSet.cpp -text
apps/nset/MLNSet.hpp -text
apps/nset/Makefile -text
apps/nset/nset.cpp -text
apps/nset/nset_support.cpp -text
apps/nset/pps.txt -text
apps/of_cancel/Makefile -text
apps/of_cancel/of_cancel.cpp -text
apps/of_dcmps/MLGPPPS.cpp -text
apps/of_dcmps/MLGPPPS.hpp -text
apps/of_dcmps/MLIAN.cpp -text
apps/of_dcmps/MLIAN.hpp -text
apps/of_dcmps/MLMPPS.cpp -text
apps/of_dcmps/MLMPPS.hpp -text
apps/of_dcmps/MLQuery.cpp -text
apps/of_dcmps/MLQuery.hpp -text
apps/of_dcmps/MLQueryUPS.cpp -text
apps/of_dcmps/MLQueryUPS.hpp -text
apps/of_dcmps/MLStorageCommitment.cpp -text
apps/of_dcmps/MLStorageCommitment.hpp -text
apps/of_dcmps/Makefile -text
apps/of_dcmps/of_dcmps.cpp -text
apps/of_dcmps/of_dcmps.h -text
apps/of_dcmps/sscond.cpp -text
apps/of_hl7ps/MAMessenger.cpp -text
apps/of_hl7ps/MAMessenger.hpp -text
apps/of_hl7ps/MLMessenger.cpp -text
apps/of_hl7ps/MLMessenger.hpp -text
apps/of_hl7ps/Makefile -text
apps/of_hl7ps/of_hl7ps.cpp -text
apps/of_identifier/Makefile -text
apps/of_identifier/of_identifier.cpp -text
apps/of_mwl_cancel/Makefile -text
apps/of_mwl_cancel/of_mwl_cancel.cpp -text
apps/of_new/Makefile -text
apps/of_new/of_new.cpp -text
apps/of_ps/MLMessenger.cpp -text
apps/of_ps/MLMessenger.hpp -text
apps/of_ps/Makefile -text
apps/of_ps/of_ps.cpp -text
apps/of_sched_procedure/Makefile -text
apps/of_sched_procedure/of_sched_procedure.cpp -text
apps/of_schedule/Makefile -text
apps/of_schedule/of_schedule.cpp -text
apps/op_hl7ps/MLMessenger.cpp -text
apps/op_hl7ps/MLMessenger.hpp -text
apps/op_hl7ps/Makefile -text
apps/op_hl7ps/op_hl7ps.cpp -text
apps/op_order/Makefile -text
apps/op_order/op_order.cpp -text
apps/op_send/MAMessenger.cpp -text
apps/op_send/MAMessenger.hpp -text
apps/op_send/MLMessenger.cpp -text
apps/op_send/MLMessenger.hpp -text
apps/op_send/Makefile -text
apps/op_send/op_send.cpp -text
apps/open_assoc/Makefile -text
apps/open_assoc/open_assoc.cpp -text
apps/orderplacer/MOPMessenger.cpp -text
apps/orderplacer/MOPMessenger.hpp -text
apps/orderplacer/Makefile -text
apps/orderplacer/OrderPlacer.cpp -text
apps/pp_dcmps/MLGPPPS.cpp -text
apps/pp_dcmps/MLGPPPS.hpp -text
apps/pp_dcmps/MLGPSPS.cpp -text
apps/pp_dcmps/MLGPSPS.hpp -text
apps/pp_dcmps/MLQuery.cpp -text
apps/pp_dcmps/MLQuery.hpp -text
apps/pp_dcmps/Makefile -text
apps/pp_dcmps/pp_dcmps.cpp -text
apps/pp_dcmps/pp_dcmps.h -text
apps/pp_dcmps/sscond.cpp -text
apps/ppm_sched_gppps/Makefile -text
apps/ppm_sched_gppps/ppm_sched_gppps.cpp -text
apps/ppm_sched_gpsps/Makefile -text
apps/ppm_sched_gpsps/ppm_sched_gpsps.cpp -text
apps/sc_scp_association/Makefile -text
apps/sc_scp_association/sc_scp_association.cpp -text
apps/sc_scu_association/Makefile -text
apps/sc_scu_association/sc_scu_association.cpp -text
apps/send_hl7/MLDispatch.cpp -text
apps/send_hl7/MLDispatch.hpp -text
apps/send_hl7/MLDispatchQuery.cpp -text
apps/send_hl7/MLDispatchQuery.hpp -text
apps/send_hl7/MLDispatchQueryContinue.cpp -text
apps/send_hl7/MLDispatchQueryContinue.hpp -text
apps/send_hl7/MLDispatchQueryDiscontinue.cpp -text
apps/send_hl7/MLDispatchQueryDiscontinue.hpp -text
apps/send_hl7/Makefile -text
apps/send_hl7/send_hl7.cpp -text
apps/sr_to_hl7/Makefile -text
apps/sr_to_hl7/sr_to_hl7.cpp -text
apps/syslog_client/Makefile -text
apps/syslog_client/syslog_client.cpp -text
apps/syslog_extract/Makefile -text
apps/syslog_extract/syslog_extract.cpp -text
apps/syslog_server/Makefile -text
apps/syslog_server/syslog_server.cpp -text
apps/tcp_connect/MLMessenger.cpp -text
apps/tcp_connect/MLMessenger.hpp -text
apps/tcp_connect/Makefile -text
apps/tcp_connect/tcp_connect.cpp -text
apps/txt_to_hl7/Makefile -text
apps/txt_to_hl7/txt_to_hl7.cpp -text
apps/update_gppps/Makefile -text
apps/update_gppps/test/create.pl -text
apps/update_gppps/test/gppps_tmplt.txt -text
apps/update_gppps/test/ppscreate.txt -text
apps/update_gppps/test/ppsset.txt -text
apps/update_gppps/test/test_update -text
apps/update_gppps/update_gppps.cpp -text
/w32_install.mak -text
